@import "style.css";

#mod {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
    display: none;
    z-index: 6;
}

.modal {
    position: absolute;
    top: 25%;
    left: 25%;
    right: 25%;
    background: #fff;
    text-align: center;
}

form {
    margin: 50px;
}

#mod:target {
    display: block;
}

.close {
    position: relative;
    display: block;
}

.close:after {
    position: absolute;
    top: 0;
    right: 2%;
    content: "\00D7";
    color: black;
}

input {
    border-style: none;
    outline-style: none;
    background: transparent;
}

input[type=email],
input[type=text],
input[type=password] {
    width: 100px;
    border-bottom: 2px solid black;
}

.navbar-title {
    display: inline-block;
    line-height: 80px;
    padding-left: 30px;
    padding-right: 30px;
}

.shop {
    display: flex;
    justify-content: space-around;
}

.item {
    position: relative;
}

.item:hover div{
    display: block;
}

.item q { /*Вложенный селектор*/
    position: absolute;
    left: 5px;
    top: 5px;
}

.item div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    border-radius: 15px;
    display: none;  
}


.item a {
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 5px;
}
