@import "style.css";

.products{
    position: relative;
    margin-bottom: 15px;
}


.products a {
    position: absolute;
    bottom: 10%;
    left: 10%;
    right: 80%;
    z-index: 3;
    text-align: center;
    display: none;
}

.products:hover a {
    display: inline;
}

#mod {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
    display: none;
    z-index: 6;
}

.modal {
    position: absolute;
    top: 25%;
    left: 25%;
    right: 25%;
    background: #fff;
    text-align: center;
}

form {
    margin: 50px;
}

#mod:target {
    display: block;
}

.close {
    position: relative;
    display: block;
}

.close:after {
    position: absolute;
    top: 0;
    right: 2%;
    content: "\00D7";
    color: black;
}

input {
    border-style: none;
    outline-style: none;
    background: transparent;
}

input[type=email],
input[type=text],
input[type=password] {
    width: 100px;
    border-bottom: 2px solid black;
}

